* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
                    -45deg,
                    rgba(59,173,227,1) 0%,
                    rgba(87,111,230,1) 25%,
                    rgba(152,68,183,1) 51%,
                    rgba(255,53,127,1) 100%
    );
    animation: AnimateBG 20s ease infinite;


    @keyframes AnimateBG {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    color: #333;
    font-family: Lato, sans-serif;
}

input[type="text"]:focus {
    color: #333;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.app {
    display: block;
    width: 600px;
    margin: 100px auto 0;
}

.input-component--container {
    display: flex;
    flex-direction: column;
}

.input-form--container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 50px;
    margin: 10px 0;

    #input-form {
        display: flex;
        width: 100%;
        justify-content: space-between;


        input {
            width: 75%;
            border: none;
            height: 100%;
            padding: 5px;

            outline: 3px solid  rebeccapurple;
            background:  rgba(255,53,127,1) 100%;
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            color: whitesmoke;
            letter-spacing: 1px;


            border-radius: 5px;
            &:focus {
                border-bottom: 7px solid rebeccapurple;
                background: rgba(255,53,127,1);
                color: whitesmoke;
            }
        }
        button {
            border-radius: 5px;
            display: flex;
            height: 100%;
            align-items: center;
            padding: 10px;
            border: none;

            outline: 3px solid  rebeccapurple;


            background: rgb(69, 98, 255);
            span {
                white-space: nowrap;
                font-size: 18px;
            }

            &:disabled {
                cursor: not-allowed;
                background: #44607c;
            }
            &:enabled {
                font-size: 20px;
                font-family: "Roboto", sans-serif;
                color: whitesmoke;

                &:hover {
                    cursor: pointer;
                    background: rgb(14, 141, 208);
                }
                &:active{
                    cursor: pointer;
                    background: rgba(255,53,127,1)
                }
            }
        }
    }
    //border: 1px solid black;
}

.todo--container {
    display: flex;
    justify-content: space-between;

    padding: 15px;
    margin: 10px 0;

    background: #8416c9;

    border-radius: 5px;
    .todo--text-container {
        width: 100%;

        font-size: 20px;
        font-weight: bold;

        input {
            height: 100%;
            font-size: 20px;
        }

    }
}



.delete-todo-button {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.delete-todo-button:hover {
    cursor: pointer;
    color: #CF2323;
}

.todo--controls-container {
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    input {
        width: 15px;
        height: 15px;
    }
    >div{
        display: flex;
        align-self: center;
    }
}
input[type="checkbox"]:hover {
    cursor: pointer;
    background: none;
    border: none;

}

.completed {
    background: lightgreen;
    input[type="text"] {
        background: none;
        text-decoration: line-through;
        color: #888;
    }
}

.signIn-form--container {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.signIn-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        width: 100%;
        border: none;
        height: 60px;
        padding: 5px;
        margin: 10px 0;

        background:  rgba(255,53,127,1) 100%;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        color: whitesmoke;
        letter-spacing: 1px;
        outline: 3px solid rebeccapurple;

        border-radius: 5px;
        &:focus {
            outline: 7px solid rebeccapurple;
            background: rgba(255,53,127,1);
            color: whitesmoke;
        }
    }

    button {
        width: 100px;
        margin: 10px 0;
        border-radius: 5px;
        //border: none;
        background: rgb(67, 92, 231);
        border: 3px solid rgba(255,53,127,1);

        padding: 10px;

        font-size: 20px;
        font-family: "Roboto", sans-serif;
        color: whitesmoke;


        &:hover {
            cursor: pointer;
            background: rgb(14, 141, 208);
        }
        &:active{
            cursor: pointer;
            background: rgba(255,53,127,1)
        }
    }
}

.todo--edit-input {
    background: none;
    border: none;
    color: whitesmoke;

    &:focus {
        width: 80%;
        border: none;

        padding: 5px;

        font-family: "Roboto", sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        outline: 3px solid rebeccapurple;

        border-radius: 5px;

        background: rgba(255,53,127,1);
        color: white;
    }
}

.error-login {
    color: #F6BCBCFF;

    font-size: 20px;
    font-weight: bold;
}

